{% extends "layout.html" %}
{% block content %}

<h1 class="mt-5">Uh oh...</h1>

<p class="mt-5">
    There's nothing here...
</p>

<p class="mt-5">
        <a class="btn btn-primary btn-lg" href="{{ url_for('main_page') }}">Return to the homepage</a>
    </p>

{% endblock content %}
