{% extends "layout.html" %}
{% block content %}

<h1 class="mt-5">The selected tea is:</h1>

<h2 id='tea-text' class="mt-5"></h2>

<input type="button" value="Select Another Tea" onclick="getTea();" class="mt-5 btn btn-primary btn-lg" />

<script>

    $(document).ready(getTea());

    function getTea() {
        req = $.ajax({
            url: 'get-tea',
            type: 'POST'
        });

        req.done( function(data) {
            $('#tea-text').text(data.tea_name)
        });
    }
</script>


{% endblock content %}
