{% extends "layout.html" %}
{% block content %}

<div>
    <form method="POST" action="{{ url_for('add_tea') }}">
        {{ add_form.hidden_tag() }}
        <fieldset>
            <legend class="border-bottom mb-4">Add Tea</legend>
            <div class="form-group">
                {{ add_form.tea_name.label(class="form-control-label") }}
                {{ add_form.tea_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ add_form.tea_type.label(class="form-control-label") }}
                {{ add_form.tea_type(class="form-control") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ add_form.submit(class="btn btn-primary btn-lg")}}
        </div>
    </form>
</div>

<div class="mt-5">
    <form method="POST" action="{{ url_for('remove_tea') }}">
        {{ remove_form.hidden_tag() }}
        <fieldset>
            <legend class="border-bottom mb-4">Remove Tea</legend>
            <div class="form-group">
                {{ remove_form.tea_name.label(class="form-control-label") }}
                {{ remove_form.tea_name(class="form-control") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ remove_form.submit(class="btn btn-primary btn-lg")}}
        </div>
    </form>
</div>

{% endblock content %}
